{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Request Details #{{request.id}}</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Requester</dt>
            <dd class="col-sm-9">{{ request.requester }}</dd>
            <dt class="col-sm-3">Blood Group Required</dt>
            <dd class="col-sm-9">{{ request.required_blood_group }}</dd>
            <dt class="col-sm-3">Deadline</dt>
            <dd class="col-sm-9">{{ request.deadline }}</dd>
        </dl>

    </div>
</div>

{% endblock %}