{% extends "base.html" %}

{% block container %}
{% if notifications %}
<div class="col-lg-7">
    <div class="card mb-4">
        <div class="card-body">
            <table class="table">
                <tr>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Requests</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td><b>{{notification.requester.username}}</b> required
                            <b>{{notification.required_blood_group}}</b> blood group till date
                            <b>{{notification.deadline}}</b>
                        </td>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

    {% else %}
    <p>No request matches with your blood group <b><em>{{ user.blood_group }}</em></b>!</p>
    {% endif %}
    {% if is_paginated %}
    {% include "pagination.html" %}
    {% endif %}
</div>
{% endblock %}